.liste_Jtree {
    display: none;
}

.lieu_Jtree input {
 display: none;
}
.lieu_Jtree input ~ ul {
 display: none;
}
.lieu_Jtree input:checked ~ ul {
 display: block;
}

.lieu_Jtree ul, .lieu_Jtree ul li {
    list-style: outside none none;
}

.lieu_Jtree li:hover {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: lightgrey;
}

.simulation-champ-text {    
    display: inline-block;
    padding: 1px 10px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    color: #333;
}

/*  FIN style Jtree    */


.onglets {
    text-decoration: none;
}

.onglet {
    display:inline-block;
    cursor:pointer;
    font: 20px Arial !important;
    padding: 1.2px;
    text-align: center;
}

.contenu_onglet {
    display:none;
}

.onglet_0 {
    background-color: #93be1c;
    color: #fff;
}

.onglet_2 {
    background-color: #029ce1;
    color: #fff;
}

.onglet_0:hover,
.onglet_2:hover{
    color: #000;
    background-color: #eee ;
    border-bottom: 1px solid  #fff;
}

.onglet_1 {
    background-color: #eee ;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid  #eee;
}

.date_flexible {
    display:inline-block;
    width: 130px;
    
}

.control-label-nbPersonnes, 
.control-label-formule {
    text-align: left;
    width: 150px;
    float: left;
    padding-top: 5px;
}

.control-label-nbPersonnes {
    width: 160px;
}

.nbPersonnes {
    width: 30px;
    margin-bottom : 10px ;
}

input[id="nbPersonnes_nb"] {
    width: 35px; 
    margin: 1px 0 0 -3px;
}

.recherche {
    border: 1px solid #eee;
    background-color: #eee;
}

.bloc {
    border-bottom: 2px solid  #e0e0e0;
    margin : 5px -11px ;
}

#choix_ski {
    cursor:pointer;
}

.option_select {
    font-size:16px ;
    text-decoration: none;
    cursor:pointer;
}

#tooltip {
    position:absolute;
    z-index:99;
    background-color:#eee;
    font-size:10px;
    width:180px;
}

input[id="search_type_hebergement"], 
input[id="search_type_rem_meca"] {
    margin: 9px 5px 0 -2px;
}


input[id="search_type_materiel"],
input[id="search_type_cours_ski"],
input[id="search_type_transport"],
input[id="search_type_foodpack"] {
    margin: -17px 10px 0 190px;
}

.contenu_fil_ariane {
    color: #777;
    text-decoration: none;
    
}

#fil_ariane {
    font-size: 13px;
    margin: 0 ;
    padding: 0 ;
    list-style-type: none;	
}

#fil_ariane li {
    /*	display : inline-block ; */
    color : #5472AE ;
    margin: -1px 0 -1px;
}

#fil_ariane a:link,  
#fil_ariane a:visited, 
#fil_ariane a:hover {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}
/*
  #fil_ariane a:before {
  color: #808080;
  content: "/";
  margin: 0 0.5px 0 1.5px;
  }
  #fil_ariane a:first-child:before{
  content: "";
  }
  */
#fil_ariane li{
    display: inline;
    margin: 0 4px 0 0;
}
#fil_ariane a::last-child {
    margin: 1px 0 0 0;
}

#search_type_date_depart_ski {
    width: 83px;
    display: inline;
}

#search_type_date_flexible_ski {
    margin : 0 10px ;

}

.div_inline {
    display: inline;
    margin: 0 20px 0 0;
}


.control-group-formule img {
    float: left;
    width: 20px;
    margin: 4px 3px 2px -2px;
}

.taille-label-hebergement {
    width: 85px;
}
.taille-label-forfait {
    width: 45px;
}
.img-formule-recherche {
    padding: 3px 1px 0 0;
}


/* **************************************** PC ****************************************** */

@media screen and (min-width: 999px) {
    ﻿.onglets {
	width : 231px ;
    }
    .onglet {
  	min-width: 111px;
    }
    input[name="texte_libre"] {
	width: 197px;
    }
    .bloc {
	width : 230px;
    }
    input[name="search_type[texte_libre]"] {	
	width: 197px;
    }
    #recherche_ski_autre {
	display: block;
    }



}

/* **************************************** Tablette & Mobile ****************************************** */

@media screen and (max-width: 998px) {
    aside#recherche_autre, 
    #recherche_autre,
    aside#recherche_ski, 
    #recherche_ski {
	display: block;
    }
}

/* **************************************** Tablette ****************************************** */

@media screen and (min-width: 768px) and (max-width: 998px) {
    #recherche_ski_autre {
	display: block;
    }
    
    #btn_recherche {
	display: none;
    }
    ﻿.onglets {
	width: 185px ;
    }
    .onglet {
	width: 88px;
    }
    #span_recherche_ski,
    #span_recherche_autre {
	width: 185px;
    }
    input[name="texte_libre"] {
	width: 150px;
    }
    .bloc {
	width : 185px;
    }	
    #search_type_date_flexible_ski {
	margin: 0 10px 0 -2px;
    }
    
    #search_type_date_depart_ski {
	width: 61px;
    }

    .total_nbPersonnes {
	width: 185px; 
	padding: 0 0 0 -10px;
    }
    .total_nbPersonnes label {
	margin: 2px 4px 0px -7px;
    }
    .recherche label {
    	font: 11px/20px Arial;
    }
    #nbPersonnes_details div label {
	margin: 2px 4px 0px -7px;
    }
    #nbPersonnes_details div input {
	margin: 2px 4px 0px -7px;
    }
    
    input[id="nbPersonnes_nb"] {
	margin: 1px 0 0 -9px;
	width: 32px;
    }
    

    .control-label-nbPersonnes, 
    .control-label-formule {
    	width: 135px;
    }	

    input[id="search_type_hebergement"], 
    input[id="search_type_rem_meca"], 
    input[id="search_type_materiel"], 
    input[id="search_type_cours_ski"], 
    input[id="search_type_transport"], 
    input[id="search_type_foodpack"] {
    	margin: 8px 0;
    }
    input[name="search_type[texte_libre]"] {
	width: 150px;
    }
}


/* ************************************* Mobile ********************************************* */	    
@media screen and (max-width: 767px) {
    #recherche_ski_autre {
	display: none;
    }
    ﻿	.onglets {
	width : 308px;
    }
    .onglet {
	width: 148px;
    }
    #recherche_autre,
    #recherche_ski {
	padding:  0 0 0 10px;
    }
    #span_recherche_ski,
    #span_recherche_autre {
	width: 305px;
    }
    input[name="texte_libre"] {
	width: 270px;
    }
    .bloc {
	width : 305px;
    }
    #choix_type_ski {
	width: 280px;
    }
    #choix_type_ski option {
	text-align: left;
    }
    .div_inline {
	display: inline;
	margin: 0 20px 0 0;
    }
    .controls div.control-group-formule:nth-child(2n+1) {
	float: left;
	margin: 0 10px 0 0;
    }
    
    .controls div.control-group-formule:nth-child(2n) {
	float: right;
	margin: 0px 10px 0 0;
    }

    input[id="search_type_hebergement"], 
    input[id="search_type_materiel"], 
    input[id="search_type_cours_ski"]
    {
   	margin: 7px -3px 10px 0;
    }
    input[id="search_type_rem_meca"], 
    input[id="search_type_transport"] ,
    input[id="search_type_foodpack"] {
	margin: 8px 0 10px 5px;
    }

    .taille-label-materiel {
	width: 85;
    }
     .taille-label-forfait {
	 padding: 4px 67px 0 0;
     }
     .taille-label-foodpack {
	 width: 113px;
     }

    .total_nbPersonnes {
	padding: 0 25px ;
    }
    input[id="nbPersonnes_nb"] {
	margin: 0 0 0 25px;
    }
    #nbPersonnes_details {
	padding: 3px 25px ;
    }
    #nbPersonnes_as,
    #nbPersonnes_ans,
    #nbPersonnes_es,
    #nbPersonnes_ens {
	margin: 0 0 0 28px;
    }
    #search_type_date_depart_ski {
	width: 150px;
    }
    button.btn, 
    input.btn[type="submit"] {
    	margin: 0 85px;
    }
    input[name="search_type[texte_libre]"] {
	width: 268px;
    }
    label[for="search_type[formule][cours_ski]"] {
	width: 248px;
    }

}

















