.onglets {
    width : 231px ;
    text-decoration: none;
}

.onglet {
    display:inline-block;
    cursor:pointer;
    font: 20px Arial !important;
    min-width: 111px;
    padding: 1.2px;
    text-align: center;
}

.contenu_onglet {
    display:none;
}

.onglet_0 {
    background-color: #fff;
    color: #666;
}
.onglet_0:hover{
    color: #08c;
    background-color: #eee ;
    border-bottom: 1px solid  #fff;
}

.onglet_1 {
    background-color: #eee ;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid  #eee;
}

.control-label-nbPersonnes {
    text-align: left;
    width: 150px;
}

.nbPersonnes {
    width: 100px;
    margin-bottom : 10px ;
}
.recherche {
    border: 1px solid #eee;
    background-color: #eee;
}