input {
  display: none;
}
input ~ ul {
 display: none;
}
input:checked ~ ul {
 display: block;
}

ul, li {
    list-style: outside none none;
}

/*
li:hover {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: lightgrey;
}
*/
