.onglets {
    width : 231px ;
    text-decoration: none;
}

.onglet {
    display:inline-block;
    cursor:pointer;
    font: 20px Arial !important;
    min-width: 111px;
    padding: 1.2px;
    text-align: center;
}

.contenu_onglet {
    display:none;
}

.onglet_0 {
    background-color: #93be1c;
    color: #fff;
}

.onglet_2 {
    background-color: #029ce1;
    color: #fff;
}

.onglet_0:hover,
.onglet_2:hover{
    color: #000;
    background-color: #eee ;
    border-bottom: 1px solid  #fff;
}

.onglet_1 {
    background-color: #eee ;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid  #eee;
}

.date_flexible {
    display:inline-block;
    width: 130px;
    
}

.control-label-nbPersonnes, 
.control-label-formule {
    text-align: left;
    width: 150px;
    float: left;
    padding-top: 5px;
}

.control-label-nbPersonnes {
    width: 160px;
}

.nbPersonnes {
    width: 30px;
    margin-bottom : 10px ;
}
.recherche {
    border: 1px solid #eee;
    background-color: #eee;
}

.bloc {
    border-bottom: 2px solid  #e0e0e0;
    width : 230px;
    margin : 5px -11px ;
}

#choix_ski {
    cursor:pointer;
}

.option_select {
    font-size:16px ;
    text-decoration: none;
    cursor:pointer;
}

#tooltip {
    position:absolute;
    z-index:99;
    background-color:#eee;
    font-size:10px;
    width:180px;
}

input[id="search_type_hebergement"], 
input[id="search_type_rem_meca"], 
input[id="search_type_materiel"],
input[id="search_type_cours_ski"],
input[id="search_type_transport"],
input[id="search_type_foodpack"] {
    margin: 8px 20px;
}

.contenu_fil_ariane {
    color: #777;
    text-decoration: none;
    
}

#fil_ariane {
	font-size: 13px;
    margin: 0 ;
    padding: 0 ;
    list-style-type: none;	
}

#fil_ariane li {
	display : inline-block ;
	color : #5472AE ;
}

#fil_ariane a:link,  
#fil_ariane a:visited, 
#fil_ariane a:hover {
    color: #000;
	text-decoration: none;
	cursor:pointer;
}

#fil_ariane a:before {
    color: #808080;
    content: "/";
    margin: 0 0.5px 0 1.5px;
}

#fil_ariane a:first-child:before{
    content: "";
}

#search_type_date_flexible_ski {
	margin : 0 10px ;

}























