html, body, a , ul, li {
  text-decoration: none;
  line-height: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-size: 14px;
}


.dropdown-menu > li > a {
    clear:both;
    color:#333333;
    display:block;
    font-weight:normal;
    padding:3px 20px;
    white-space:nowrap;
}







.fBleu_blanc {

}

.txt_blanc_bleu_moyen
.txt_blanc_bleu_petit